---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: bio here -->
  <section class="meta">
    <h3>Links, and tweets</h3>
    <section class="copy">
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <img src="{{ site.github.owner_gravatar_url }}?s=142" height="50" width="50" />
      </a>

      <p>
        Found elsewhere in the ether:
        <p></p>
        <a href="https://www.youtube.com/channel/UCYs9HwT_BkoTpghbCptnH0g"> Videos of the trails</a> , 
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank">tweets</a> , 
        <a href="https://www.strava.com/activities/848986082"> Strava trail maps</a> , 
        <a href="https://www.pnwtrailscout.com/"> and the official website. </a>
        
      </p>

     <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
    </section>
  </section>
</section>